.App{
  margin: 0;
  background-color: #F6F6F3;
  display: flex;
  box-sizing: border-box;
  width: calc(100vw-20px);
  height: 100vh;
  gap: 10px;
}

#navbar{
  width: calc(17vw - 15px);
  height: 100%; 
  box-sizing: border-box;
}
#main{
  width: calc(83vw - 15px); 
  height: 100%;
  box-sizing: border-box;
}