#results{
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
}
#customers{
    flex: 5.56;
}
#growth-tops{
    flex: 5.4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}
#growth{
    flex: 2.56;
}
#tops{
    width: 100%;
    flex: 1.28;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
}
