#top-month{
    flex: 1;
    border-radius: 16px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}
.top-header{
    font-size: 16px;
    font-weight: 600;
    color: #7D7D7D;
}
#month{
    font-size: 20px;
    font-weight: 600;
    color: #734A00;
}
#year-in-month{
    font-size: 16px;
    font-weight: 500;
    color: #FFA500;
}